{
    "presets": ["env", "react"],
    "plugins": [
        "react-hot-loader/babel",
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true,
        }]
    ]
}
