click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.0
pip==9.0.1
setuptools==38.5.1
six==1.11.0
webargs==2.0.0
Werkzeug==0.14.1
wheel==0.30.0
Flask-SQLAlchemy==2.3.1
python-dateutil==2.7.0
gunicorn==19.8.1
