<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- icon -->
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/icon/favicon.ico" type="image/x-icon">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pure-min.css" />
</head>

<body>
    <div class="pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-heading pure-menu-link">Chat</a>
    </div>
    <br />

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <br />
    <footer>
        <p>To commemorate the ending of my first shadiness</p>
    </footer>
</body>
</html>
